<div class="row mt-5">
    <div class="col-md-12">
        <h3>Table Rooms </h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Status</td>
                    <td>Winner</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CD01</td>
                    <td>Completed</td>
                    <td>
                        HENDAR
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>