<!DOCTYPE html>
<html>

<head>
  <!-- kita isi dengan component header -->
  <%- include('partials/header', page); -%>

</head>

<body>
  <!-- section navbar -->
  <%- include('partials/navbar'); -%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>HOME</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <%- include('partials/footer'); -%>
      </div>
    </div>
  </div>
</body>

<%- include('partials/js-section'); -%>

</html>