<div class="row mt-5">
    <div class="col-md-12">
        <h3>Table Rooms </h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Status</td>
                    <td>Winner</td>
                </tr>
            </thead>
            <tbody>
                <% if (rooms.length > 0) { %>
                    <% for(let i=0; i < rooms.length; i++) { %>
                        <tr>
                            <td><%= rooms[i].kode %></td>
                            <td><%= rooms[i].status %></td>
                            <td>
                                <%= (rooms[i].user) ? rooms[i].user.email: "Belum Ada Pemenang" ;  %>
                            </td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="3"> Data Tidak Ditemukan!</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>